:root {
  --color-primary: rgb(212, 97, 124);
  --color-secondary: Linen;
  --color-alternative: rgb(122, 167, 233);
  --color-dark: black;
  --color-light: Linen;
}

.navbar-cta {
  background-color: var(--color-alternative);
  color: var(--color-dark);
}

.ly-blocks {
  margin-top: 85px;
}

.navbar-menu a.is-highlight::after {
  background-color: var(--color-alternative);
}

.block-people-list a:hover img {
  filter: none
}

.block-imagetext:first-child {
  figure {
    margin-top: 90px;
    align-self: center;
    justify-self: center;
  }
  img {
    max-width: 300px;
    height: auto;
  }
  h1 {
    font-size: var(--font-7-size);
    margin-bottom: 0
  }
}

#tickets {
  margin-top: -100px;
}
