:root {
  --color-primary: rgb(212, 97, 124);
  --color-secondary: Linen;
  --color-alternative: rgb(122, 167, 233);
  --color-dark: black;
  --color-light: Linen;
}

.navbar-cta {
  background-color: var(--color-alternative);
  color: var(--color-dark);
}

.ly-blocks {
  margin-top: 0;
}

.navbar-menu a.is-highlight::after {
  background-color: var(--color-alternative);
}
